.body{
    background-color:#c9bfcc
     ;
}
.header1{
    background-color: aqua;
    color: red    
}

.navbar{
    text-align: center
    
}
.section{
    text-align: center
}
#baslik{
    padding-left: 30px;
}
.body{
    color: blueviolet;

}

